body{
    background-image: url(rock-paper-scissor-ft-1.jpg);
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-style: italic;
}
.wrapper{
    text-align: center;
}
#rockBtn {font-style:italic;background-color:#4CAF50;margin: 15px;} /* Green */
#paperBtn {font-style:italic;background-color: #008CBA;margin: 15px;} /* Blue */
#scissorsBtn {font-style:italic;background-color: #f44336;margin: 15px;} /* Red */